[Unit]
Description=Nvidia binary driver init script
After=nvfb.service

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/etc/init.d/nv start
ExecStop=/etc/init.d/nv stop

