[Unit]
Description=Nvidia binary driver first-boot script
Before=nv.service

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
ExecStart=/etc/init.d/nvfb start
ExecStop=/etc/init.d/nvfb stop
